<div class="container-content container-shadow">
	<% provide(:title, 'About us') %>
	<div class="center container-grain">
		<%= image_tag 'aboutbanner.png', alt: "ArtGrabbr", width: '950px' %>
	</div>
	<div class="container-white">
		<h2 id="abouttext">
			<p>
				...is an online platform that connects <span style="color: #555">art students</span> and <span style="color: #555">art enthusiasts</span>.
			</p>
			<p>
				It allows <span style="color: #555">art students</span> to "<span style="color: #d8a660">declutter</span>" by selling past projects and assignments.
			</p>  
			<p>
				In turn, <span style="color: #555">art enthusiasts</span> are able to buy <span style="color: #d8a660">affordable</span>, <span style="color: #d8a660">original</span> artwork.</h2>
			</p>
		</h2>
	</div>
</div>