<div class="container-content">
	<% provide(:title, 'Contact Us') %>
	<div class="container-shadow">
		<div class="center container-grain">
			<h1 id="statictitle">Contact</h1>
		</div>
		<div class="container-white statictext">
			<h2 id="contacttext">Have questions or concerns?</h2>
			<h2 id="contacttext">See a bug on the site?</h2> 
			<h2 id="contacttext">Or just want to get in touch with ways you can help?</h2>
			<h2 id="contacttext">Email us at <span style="color: #555">&#60support@artgrabbr.com&#62</span></h2>
		</div>
	</div>
</div>