<div class="container-content">	
	<% provide(:title, 'FAQ') %>
	<div class="container-shadow">
		<div class="center container-grain">
			<h1 id="statictitle">Frequently Asked Questions (FAQs)</h1>
		</div>

		<div class="container-white statictext">
			<p class="faqquestion firsttext">
				<strong>What do you mean by “clutter”?  Are there restrictions on the art we can sell?</strong>
			</p>
			<p>
				By “clutter” we mean the art that’s taking up space in your closet—things that you won't charge a big premium for, i.e., things that you can sell at the cost of what it took to produce.
			</p>
			<p>
				Technically, there are NO restrictions on the art you can post on ArtGrabbr.  We give you the freedom to sell whatever you wish (you can even make new art to put on the site).  However, we encourage you to first consider your “clutter.”  Why emphasize “clutter” so much?  The reason is that “clutter” is the cornerstone of our vision:
			</p>
			<p>
				Our vision, ultimately, is twofold: 1) allow art students to sell “clutter” to make a dent in their 	living expenses and tuition, and 2) to give art enthusiasts a chance to buy inexpensive, original 	artwork.
			</p>

			<p class="faqquestion">
				<strong>What kind of “clutter” is ArtGrabbr looking for?</strong>
			</p>
			<p>
				Paintings/sketches, graphic design, photography, textiles/weavings/tapestries, sculptures/ceramics/glass, to list a few…basically anything tangible!
			</p>
			<p>
				Again, “clutter” does NOT mean your best, most-prized works.  We want you to save those for your portfolio.  We want your “clutter”—things you wouldn’t mind getting rid of for a bit of change.  We want your leftovers.
			</p>

			<p class="faqquestion">
				<strong>Why does the exchange take place in person?  This sounds a lot like craigslist…do you allow for shipping of art?</strong>
			</p>
			<p>
				We are like craigslist in that we allow you to list items you want to sell for free. We are not like craiglist in that we are much more regulated and focused.  ArtGrabbr also gives you a more effective means of communication.  And plus, our site is much cooler.
			</p>
			<p>
				Yes, but Shipping means added costs and risks.  Keep in mind that we will not be liable for any art lost in the mail.
			</p>

			<!-- <p>
				<strong>The artist failed to meet with me.  What can I do?</strong>
			</p>
			<p>
				Warnings, blacklist?
			</p> -->

			<p class="faqquestion">
				<strong>Is there a fee attached with my account?  Does ArtGrabbr charge a commission?</strong>
			</p>
			<p>
				Nope!  Artgrabbr is a completely free service.  There are no fees to open an account, to buy or sell art. We understand how hard it is financially to be a student, so we want to help in any way we can.
			</p>

			<p class="faqquestion">
				<strong>Doesn't that mean you guys are losing money?</strong>
			</p>
			<p>
				Yes. Because this is just a project, we put in our own money to have this operational. If you like what we are doing and would like to make sure we stay online, we would love to accept donations.
			</p>
		</div>
	</div>
</div>
