<div class="hero-unit">
	<%= image_tag 'logo.png', id:'homelogo', alt: 'ArtGrabbr', height: '50%', width: '50%'%>
	<p>
		<%= link_to 'Wanna see some art?', artworks_path, class:'btn-enter btn-custom' %>
	</p>
</div>
