<div class="container-content">
	<% provide(:title, 'How it works') %>
	<div class="container-shadow">
		<div class="center container-grain">
			<h1 id="statictitle">How it works</h1>
		</div>
		<div class="center container-white">
			<div class="howtosubtitle">
				<h1>SELLING YOUR ART</h1>
			</div>
			<div class="howtobanner">
				<div class="howto howtotext">
					<p class="howtotitle">
						<strong>Step 1: Describe yourself and your artwork</strong>
					</p>
					<p>
						YOU: Name, School, Major, Location
					</br>
						ART: Medium, Dimensions, Pictures (3 suggested), Title (recommended)
					</p>
					
					<p class="howtotitle">
						<strong>Step 2: Price your art</strong>
					</p>
					<p>
						Remember, this is “clutter” that you’re selling, not your best work.
					</p>

					<p class="howtotitle">
						<strong>Step 3: Receive requests from buyers</strong>
					</p>
					<p>
						As buyers request to buy your art, you will receive notifications on your account and/or email.
					</p>

					<p class="howtotitle">
						<strong>Step 4: Accept a buyer's request</strong>
					</p>
					<p>
						Once you find a buyer you like, accept their offer and arrange a time and place to meet.
					</p>

					<p class="howtotitle">
						<strong>Step 5: Meet. Exchange. Make Money!</strong>
					</p>
					<p>
						Make sure to show up on time. Be courteous and responsive. We take no-shows very seriously and will take proper disciplinary measures.
					</p>
				</div>
			</div>

			<div class="howtosubtitle">
				<h1>BUYING ART</h1>
			</div>
			<div class="howtobanner">
				<div class="howto howtotext">
					<p class="howtotitle">
						<strong>Step 1: Browse art</strong>
					</p>
					<p>
						Browse through our site to see if there is anything that catches your eye.
					</p>
					
					<p class="howtotitle">
						<strong>Step 2: See something you like?  Submit a request!</strong>
					</p>
					<p>
						You will need to supply a valid email address—this will be your main mode of communication with the artists.
					</p>
					<p class="howtotitle">
						<strong>Step 3: Artist accepted your request?</strong>
					</p>
					<p>
						Work with your artist to set up a time and place to meet.
					</p>

					<p class="howtotitle">
						<strong>Step 4: Meet. Exchange. Enjoy!</strong>
					</p>
					<p>
						Make sure to show up on time. Be courteous and responsive. We take no-shows very seriously and will take proper disciplinary measures.
					</p>
				</div>
			</div>
			
		</div>
	</div>
</div>

