<% provide(:title, 'Sign up: Beta') %>
<div class="hero-unit">
	<div class="center">
		<h1>Beta Stage</h1>
		<h2>So we're in beta, but provide your email and we'll put you on our mailing list. We promise not to spam you and only send you an email when we have major updates that you may be interested in! {Provide email form here...}</h2>
	</div>
</div>