<div class="container-content">
	<h1 class="center">Password Reset</h1>
	<div class="row">
		<div class="span8 offset2">
			<div class = "hero-unit signup">
				<%= form_tag password_resets_path, :method => :post do %>
					<div class="field">
						<%= label_tag :email %>
						<%= text_field_tag :email, params[:email] %>
					</div>
					<div class="actions"><%= submit_tag "Reset Password", class:'btn-custom' %></div>
				<% end %>
			</div>
		</div>
	</div>
</div>
