<div class="construction-full">
	<div class="construction-grid">
		<%= image_tag 'aboutbanner.png', alt: "ArtGrabbr", width: '600px' %>
		<div class="construction-hero">
			<p class="makeover">
				ArtGrabbr is getting a makeover!
			</p>
			<p>
				We plan to shift our focus to being a new "profile-centric" platform for artists to showcase their work to a community of interested people.
			</p>
			<p>
				Post, browse, applaud, and buy at ArtGrabbr!
			</p>
			<p>
				Also a big thanks to everyone who participated and supported our beta site.
			</p>
		</div>
	</div>
</div>
