<div id="noticebanner">
	<div class="container">
		<div class="noticetextbox">
			<h2 id="noticetext">
				<strong>Note to Artists:</strong></br>
					Artgrabbr understands that you pour out your heart into your work.  We simply want to say that we respect your profession and do not mean to offend you in any way.</br>
					The beta version of our website is currently running with donations from artists.  These artworks were either sitting in closets or otherwise were going to be given away—if this sounds familiar, we want you to give us a chance.  Artworks that seem inconsequential to you can be of much value to someone else in your community. </br>
					Artgrabbr will open up artist accounts and posting capabilities soon.  If you want us to keep you posted, reach out to us at <%= mail_to "hello@artgrabbr.com", "hello@artgrabbr.com", subject: "Keep me up to date with Artgrabbr!", style:"color: rgb(157, 38, 29)" %>.
			</h2>
		</div>
		<!-- <div id="closenotice">x</div> -->
	</div>
</div>